/* common css start  */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
   

}

a {
    text-decoration: none;

}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

body{
     background: #1E1E1E ;
}

/* common css end  */


.nav-link {
    margin: 0 20px;
    color: #959595;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3%;
    transition: .4s;
}

.nav-link:hover {
    color: #FD6F00;
}

.navbar {
    padding: 20px 0;
    /* width: 100%; */
   
}

.nav-link :hover {
    color: #FD6F00;
}

.mybtn {
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    background: #FD6F00;
    color: white;

}


/* banner Part Start */
#bannerPart {
    padding-top: 100px;



}

.bannerContent {
    padding-top: 236px;
    padding-bottom: 106px;
}

.bannerContent h4 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 3%;
    color: #707070;
}

.bannerContent h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 3%;
    color: #959595;
    padding-top: 10px;
    padding-bottom: 24px;
}

.bannerContent h1 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 3%;
    background: linear-gradient(90deg,
            #984300 0%,
            #FD6F00 46%,
            #CA5900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-bottom: 20px;
}

.socialIcon {
    display: flex;
    column-gap: 20px;
    padding-bottom: 61px;
}

.socialIcon a {
    border: 2px solid #575757;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0.4;
    color: #BABABA;
}


.bannerbtn a {
    padding: 12px 40px;
    background: #FD6F00;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 24px;
    border: 2px solid #FD6F00;
    transition: .4s;
}
.bannerbtn a:hover{
    color: #959595;
    background-color:transparent;
    border: 2px solid #575757;

}

.bannerImage {
    filter: grayscale(100%);
    transition: .4s;

}


/* .bannerImage :hover {
    filter: grayscale(100%);

} */


.box{
    background-color:#2a2929 ;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 534px;
    padding: 24px;
    column-gap: 25px;
    border-radius: 8px;
}
.box h5{
    font-size: 24px;
    font-weight: 800;
    color: #FD6F00;
    letter-spacing: 3%;
}
.box h6{
    font-size: 20px;
    font-weight: 700;
    color:#707070;
    padding-top: 15px;
    letter-spacing: 3%;
}
.one{
    padding-right:30px;
    border-right: 1px solid #BABABA;
    
}
.two{
   border-right: 1px solid #BABABA;
   padding-right:30px;

} 



#servicePart{
    padding-top: 150px;
}
.serviceContent{
    text-align: center;
}
.serviceContent h3{
    color: #BABABA;
    margin-bottom: 20px;

}
.serviceContent p{
    color: #707070;
    margin-bottom: 80px;

}
.boxcontent{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.oneB{
    background-color: #2a2929;
    text-align: center;
    border-radius: 24px;
    padding: 34px;
}
.oneB a{
    width: 340px;
    color: #FD6F00;
    font-size: 24px;
    
    
}
.oneB h3{
    width: 340px;
    color: #FD6F00;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 3%;
    padding: 24px 0;
}

.oneB p{
    width: 340px;
    color: #575757;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 3%;
}


/* about part start */

#aboutPart{
    padding-top: 150px;
}
.content{
    text-align: center;
}
.content h3{
    color: #BABABA;
    margin-bottom: 20px;

}
.content p{
    color: #707070;
    margin-bottom: 40px;

}
.contentTwo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.text p{
    width: 630px;
    height: 494px;
    line-height: 190%;
    color: #BABABA;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin-top: 130px;
    margin-bottom: 40px;
}
.btn a {
    padding: 12px 40px;
    background: #FD6F00;
    border-radius: 8px;
    color: #fff;
}
.btn a i{
    padding-right: 15px;
}

 .round {
    display: flex;
    justify-content:space-between;
     text-align: center; 
    
 }

.round a {
    border: 8px solid #E46400;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
     align-items: center; 
    /* background: transparent; */
    color: #fff;
}


.golla h5{
    font-size: 30px;
    font-weight: 700;
    color: #E46400;
    padding-top: 24px;
}

.golla p{
    font-size: 20px;
    font-weight: 500;
    color: #C6C6C6;
    padding-top: 24px;
}
/* aboutpart end */

/* portfolio start */
#portfolioPart{
    padding-top: 150px;
}
.portfolio{
     text-align: center; 
    
}
.portfolio h3{
    color: #BABABA;
    margin-bottom: 20px;
    padding-bottom: 30px;
   

}

.allWork a {
    padding: 12px 40px;
    background: #FD6F00;
    border-radius: 8px;
    color: #fff;
    margin-right: 24px;
    font-size: 16px;
    font-weight: 700;
    transition: .4s;
    /* margin-bottom: 70px; */
}
.allWork a:hover{
    background-color:#2a2929 ;
    color: #C6C6C6;
}


.picture{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.cardinfo{
    display: flex;
    justify-content: space-between;
    background-color: #2a2929;
    color: #C6C6C6;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    padding: 16px;
}
.cardinfo h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 3%;
}

.pictureT{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.pictureTT{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}


#contactPart{
    padding-top: 150px;
    padding-bottom: 150px;
    
    
}
.contactme{
    text-align: center;    
}
.contactme h3{
    color: #BABABA;
    margin-bottom: 20px;

}
.contactme p{
    color: #707070;
    margin-bottom: 50px;
}
.contactme .common{
    width: 461px;
    height: 54px;
    padding: 14px 24px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    background-color: #2a2929 ;
    border-radius: 8px;   
   
} 
.tisha{
    display: flex;
    justify-content: center;
}
.button{
    padding-top: 30px;
}
.button a{
    padding: 12px 40px;
    background: #FD6F00;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #fff; 
    border: 2px solid #FD6F00;
    transition: .4s;     
}
.button a:hover{
    color: #959595;
    background-color:transparent;
    border: 2px solid #959595;
}

/* contact part end */

#footerPart{
    background-color: #2a2929;
}
.footerContent{
    padding-top: 40px;
    
    text-align: center; 
}
.footerLogo img{
    padding-bottom: 30px;
}
.footermenu a{
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #C6C6C6;
}

.gmail{
    display: flex;
    justify-content: center;
   padding-bottom: 50px; 
   color: #C6C6C6;  
}
.gmail p{
    padding-right: 40px;
}

.gmail p i{
    padding-right: 30px;
}

.lastText{
    padding-bottom: 24px;
    color: #C6C6C6;
    font-size: 16px;
    font-weight: 700;   
}
.lastText p{
    width: 593px;
    height: 53px;
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
    background-color: transparent;
    border-top: 1px solid #BABABA;    
}

.footerIcon a {
    border: 2px solid #575757;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0.4;
    color: #BABABA;
}
.footerIcon {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}